@charset "UTF8-8";


* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*Esse combando, esconde a barra de rolagem da página!*/
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

img {
    width: 100vw;
}

a {
    display: block; /*Faz com quem o botão "acesse", fique em baixo!*/
    background-color: darkred;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    background-color: red;
}
