@charset "URT-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url("../imagens/fundo-madeira.jpg") no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone { /*# é ID*/
    position: absolute; /*Com isso, consigo posicionar ele como eu quero!*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Esse combo faz fica centralizado na tela*/

    height: 627px;
    width: 311px;
    background: url(../imagens/frame-iphone.png) no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}

/*Quando coloco o <br> no home, ele fica a esquerda! - Aqui eu jogo a direita ou pra onde eu quiser*/
section#redes-sociais { 
    text-align: right;
}

/*Fazendo os botões menoresm - Selecionanod a imagem dentro do Link*/
section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    box-sizing: border-box; /*Junto com o hover, ele mante o icone parado*/
}

section#redes-sociais img:hover{
    border: solid white;
    transform: translate(-3px, 3px);
    box-shadow: 5px 5px 10px rgba(189, 188, 188, 0.767);
    transition: 0.5s;
}

div#posicionamento {
    position: absolute;
}